

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-size: calc(12px + 0.25vw);
}

.ti_headline_blue_bold {
    @apply font-bold text-2xl lg:text-3xl uppercase tracking-wide text-ti_blue_accent;
}

.ti_headline_blue_light {
    @apply font-extralight text-2xl lg:text-3xl uppercase tracking-wide text-ti_blue_mat;
}

.ti_subheadline_blue_bold {
    @apply font-bold text-lg lg:text-xl uppercase tracking-wide text-ti_blue_accent;
}

.ti_subheadline_blue_light {
    @apply font-extralight text-xl lg:text-2xl uppercase tracking-wide text-ti_blue_mat;
}



.hyperlink {
    @apply font-bold pt-2 uppercase text-xs tracking-wide hover:text-ti_blue_accent ease-in-out transition-all duration-300;
}

.ti_animate-spin{
    animation: spin 3s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}