@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(12px + 0.25vw);
}

.ti_headline_blue_bold {
  @apply font-bold text-2xl lg:text-3xl uppercase tracking-wide text-ti_blue_accent;
}

.ti_headline_blue_light {
  @apply font-extralight text-2xl lg:text-3xl uppercase tracking-wide text-ti_blue_mat;
}

.ti_subheadline_blue_bold {
  @apply font-bold text-lg lg:text-xl uppercase tracking-wide text-ti_blue_accent;
}

.ti_subheadline_blue_light {
  @apply font-extralight text-xl lg:text-2xl uppercase tracking-wide text-ti_blue_mat;
}

.graphcms_card_startpage a,
.hyperlink {
  @apply font-bold uppercase text-xs tracking-wider hover:text-ti_blue_accent ease-in-out transition-all duration-300;
}

.ti_animate-spin {
  animation: spin 3s linear infinite;
}

/* translate-x-0 = open */
.translate-x-0 .animated * {
  opacity: 0;
  animation: menu_points 1s forwards;
}

.translate-x-0 .animated *:nth-child(1) {
  animation-delay: 0.4s;
}

.translate-x-0 .animated *:nth-child(2) {
  animation-delay: 0.43s;
}

.translate-x-0 .animated *:nth-child(3) {
  animation-delay: 0.46s;
}

.translate-x-0 .animated *:nth-child(4) {
  animation-delay: 0.49s;
}

.translate-x-0 .animated *:nth-child(5) {
  animation-delay: 0.52s;
}

.translate-x-0 .animated *:nth-child(6) {
  animation-delay: 0.55s;
}

.translate-x-0 .animated *:nth-child(7) {
  animation-delay: 0.58s;
}

.translate-x-0 .animated *:nth-child(8) {
  animation-delay: 0.61s;
}

.translate-x-0 .animated *:nth-child(9) {
  animation-delay: 0.64s;
}

.translate-x-0 .animated *:nth-child(10) {
  animation-delay: 0.67s;
}

.translate-x-0 .animated *:nth-child(11) {
  animation-delay: 0.7s;
}

.translate-x-0 .animated *:nth-child(12) {
  animation-delay: 0.73s;
}

.translate-x-0 .animated *:nth-child(13) {
  animation-delay: 0.76s;
}

.translate-x-0 .animated *:nth-child(14) {
  animation-delay: 0.79s;
}

.translate-x-0 .animated *:nth-child(15) {
  animation-delay: 0.82s;
}

.translate-x-0 .animated *:nth-child(16) {
  animation-delay: 0.85s;
}

.translate-x-0 .animated *:nth-child(17) {
  animation-delay: 0.88s;
}

.translate-x-0 .animated *:nth-child(18) {
  animation-delay: 0.91s;
}

.translate-x-0 .animated *:nth-child(19) {
  animation-delay: 0.94s;
}

@keyframes menu_points {
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
